*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1200px;
    margin: 0 auto;
}
img{
    max-width: 100%;
}
header{
    display: flex;
    align-items: center;
    padding: 30px;
    justify-content: center;
}
.container-title{
    padding: 30px;
    background-color: #eee;
}
main{
    display: flex;
    gap: 30px;
    margin-bottom: 80px;
}
.container-img{
    flex: 1;
    background-color: #f7f7f9;
}
.container-info-product{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.container-price{
    padding-bottom: 20px;
    border-bottom: 1px solid #e4e4e4;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container-price span{
    font-size: 24px;
    font-weight: 300;
}
.container-details-product{
    padding: 10px 0;
}
.form-group{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;
}
.form-group label{
    width: 50px;
    color: #222;
    font-weight: 700;

}
.form-group select{
    width: 200px;
    border: none;
    padding: 12px 15px;
    background-color: #f7f7f7;


}
