body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  width: 20vw;
  border-right: 1px solid black;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20px;
  text-align: center;
  background-color: black;
}
body {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  height: 100vh;
}
.content-app {
  width: 70vw;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.metodos {
  border: 1px solid black;
}
.add-methods {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.section-methods {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 65vh;
}
.metodos div:nth-child(1) {
  border-bottom: 1px solid black;
}
.add-methods div:nth-child(2) {
  border-left: 1px solid black;
  height: 100%;
}
.add-methods div:nth-child(2) button{
  width: 35px;
  height: 35px;
  margin: 30px;
  font-size: 25px;
  
}
.add-methods div:nth-child(1) {
  width: 100%;
}
.metodos div:nth-child(2) {
  padding: 25px;
}
.metodos div:nth-child(2) button {
  border-radius: none;
  background: none;
  outline: none;
}
nav a {
  border-bottom: 1px solid rgb(255, 255, 255);
  text-decoration: none;
  color: rgb(255, 255, 255);
  width: 60%;
}
nav img {
  width: 60%;
  border-radius: 10%;
}
.espacio {
  font-size: 25px;
}
.add-methods div:nth-child(2) button:hover{
  background: rgb(2, 210, 247); 
  color: rgb(0, 0, 0);
}
.metodos div:nth-child(2) button:hover {
  background: rgb(2, 210, 247); 
  color: rgb(0, 0, 0);
}

nav a:hover {
  background: rgb(2, 210, 247); 
  color: rgb(0, 0, 0);
}